body {
  background: linear-gradient(-45deg, #dabab1, #ab909b, #99abb2, #83aaa1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#wrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-signup{
  max-width: 400px;
  background: rgba(0, 0, 0 , 0.8);
  flex-grow: 1;
  padding: 30px 30px 40px;
  box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}
.form-heading{
  font-size: 25px;
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
}
.form-group{
  border-bottom: 1px solid #fff;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}
.form-group i{
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
}
.form-input{
  background: transparent;
  border: 0;
  outline: 0;
  color: #f5f5f5;
  flex-grow: 1;
}
.form-input::placeholder{
  color: #f5f5f5;
}
#eye i{
  padding-right: 0;
  cursor: pointer;
}
.form-submit{
  background: transparent;
  border: 1px solid #f5f5f5;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  padding: 6px 10px;
  transition: 0.25s ease-in-out;
  margin-top: 30px;
}
.form-submit:hover{
  border: 1px solid #54a0ff;
}
.Sign-up{
  background: white;
  border: 1px solid #f5f5f5;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  padding: 3px 3px;
  transition: 0.25s ease-in-out;
  margin-top: 30px;
  text-align: center;
}
.Sign-up:hover {
  border: 1px solid #54a0ff;
}

.button {
  background: transparent;
  border: 1px solid #f5f5f5;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  padding: 6px 10px;
  transition: 0.25s ease-in-out;
  margin-top: 30px;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;}
.Sign-up .button{
      background-color: white;
      color: black;
      border: 2px solid #555555;
  }